.to-top-btn {
    display: none !important;
}

.hidden-in-mobile {
    display: none;
}


.yp_main_content > section .row,
.yp_main_content > section .col {
    display: block;
}

.yp_main_content .project_content > .row {
    display: flex;
}


/* 메인페이지 반응형 미디어 쿼리 */
.yp_main_content section:not(#introduction) {
    padding: 70px 15px;
}

/* nav */

.navbar-brand {
    margin-left: 10px;
}

.yp_main_nav {
    padding: .5rem 0;
}

.yp_main_nav .navbar-nav {
    position: relative;
}

.yp_main_nav .navbar-nav > li {
    flex-basis: auto;
}

.yp_main_nav .navbar-nav > li > a {
    text-align: right;
    font-size: 14px;
    font-weight: 400;
}


/* slide */
.yp_main_slide .carousel-item {
    height: 40vh;
}

a[class*="carousel-control"] i {
    font-size: 2em;
}


#introduction > .intro_count {
    padding: 40px 0 10px;
}

#introduction>.intro_count .num {
    margin-bottom: 45px;
    font-size: 25px;
}

/* about */
.yp_main_content #about img {
    margin-top: 40px;
}

.yp_main_content section#activity {
    padding: 70px 0;
}

/* introduction */

#introduction>.intro_content p {
    margin-bottom: 45px;
}

/* activity */

.yp_main_content .activity_intro {
    padding: 0 15px;
}

#activity .activity_content {
    padding-top: 25px;
}

#activity .activity_content div[class*="activity_sect"] {
    height: 220px;
}

#activity .small_title {
    margin: 20px 0;
}

#activity .activity_content h4 {
    font-size: 22px;
}


/* project */

#project .project_content {
    padding: 50px 0;
}

#project .project_content figure {
    padding: 7px;
}

#project .project_content .col {
    width: calc(100% / 3);
    flex-basis: auto;
}

#project .project_content figure img {
    border-radius: 5px;
}

