.navbar-nav.nav-justified.navbar-resp { /* resp(responsive) 가 붙은 부분은  pc 혹은 mobile.css 에서 서로를 덮어 씌우도록 합시다. */
    left: unset;
    margin-right: 163px;
}

.yp_main_content section:not(#introduction) {
    padding-left: 12.9vw;
}

.sect_title {
    font-size: 18px;
    margin-bottom: 18px;
}

.about_txt>p {
    font-size: 18px;
    line-height: 38px;
}

.activity-description-container {
    padding-top: 20px;
}

.activity-description-container p{
    padding: 6px;
}

.activity_content .row .col{
    margin-left: 5px;
    margin-right: 5px;
}