.yp_main_nav {
    position: relative;
    margin: 35px auto;
    padding: 0 0 0 0 ;
    width: 1260px;
}

.navbar-brand {
    margin-left: 0;
}

.yp_main_nav .navbar-nav{
    max-width: 650px;
}

.yapp-carousel p{
    text-align: left;
    font-size: 45px;
}

.yapp-carousel {
    position: relative;
    top: 112px;
    margin: 0 auto;
    width: 1260px;
    color: white;
}

.yp_main_nav .navbar-nav>li>a {
    color: #000000 !important;
}

.yp_main_content section:not(#introduction) {
    padding-left: unset;
    padding-right: unset;
}
#introduction .intro_content{
    padding-left: unset;
    padding-right: unset;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.navbar-nav.nav-justified.navbar-resp { /* resp(responsive) 가 붙은 부분은  pc 혹은 custom.css 에서 서로를 덮어 씌우도록 합시다. */
    left: unset;
}
.yp_main_nav .navbar-nav>li>a{
    font-size: 14px;
}

.sect_title {
    font-size: 18px;
    margin-bottom: 18px;
}

.about_txt>p {
    font-size: 18px;
    line-height: 38px;
}

.activity-description-container {
    padding-top: 20px;
}

.activity-description-container p{
    padding: 6px;
}

.activity_content .row .col{
    margin-left: 5px;
    margin-right: 5px;
}

#history {
    background-color: #fb9d00;
}

chronicle h1, h2, h3, h4, h5 {
    color: white;
    font-weight: normal;
}

chronicle .chronicle-picker {
    display: flex;
}

.chronicle-picker .prev, .next {
    font-size: 50px;
    color: #ffffff;
}

.chronicle-picker .prev {
    margin-right: 178px;
}

.chronicle-picker .next {
    margin-left: 79px;
}

.chronicle-picker .next:hover {
    color: #ffffff;
}

.chronicle-picker .chronicle-img {
    margin-left: 226px;
}

.chronicle-circle {
    border-radius: 50%;
    width: 184px;
    height: 184px;
    line-height: 184PX;
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    background-color: #fb9d00;
    border: solid 3px #ffffff;
}