#contact .sect_title_des {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.32;
    letter-spacing: -0.05em;
    color: #ffffff;
    margin-bottom: 50px;
}

#contact .sect_title_des > span {
    color: #fff;
    font-weight: bold;
}

#contact .sect_title {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: -.7px;
    color: #fff;
    margin-bottom: 35px;
}


contact .col {
    display: flex;
}

contact .col .col_paragraph {
    margin-left: 20px;
    line-height: 40px;
}

#contact .contact_txt {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75;
    letter-spacing: -1.4px;
    text-align: left;
    color: #fff;
}

#contact .contact_txt_highlight {
    color: #f5a623;
}

#contact .container_sm {
    margin-top: 100px;
}

#contact .contact_link_btn {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    background: #f6a623;
    text-align: center;
    color: #ffffff;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#contact .contact_link_btn:hover {
    text-decoration: none;
}

#contact .contact_link_btn>i {
    font-size: 70px;
}

#contact .contact_link_btn>span {
    font-weight: 300;
    letter-spacing: -0.6px;
    display: block;
    font-size: 35px;
}

#contact{
    background-color: #4a4a4a;
}

.contact-icon-img {
    width: 80px;
    height: 80px;
}