<div class="container">
    <h5 style="margin-bottom: 10px">History</h5>
    <h1>연혁</h1>

    <div class="chronicle-picker">

        <a class="prev"
           href="#chronicle-carousel"
           role="button"
           data-slide="prev"
           ng-click="$ctrl.prev()">
				    <span aria-hidden="true"><i class="xi-angle-left-thin xi-4x"></i></span>
				    <span class="sr-only">Previous</span>
        </a>

        <div class="chronicle-content carousel slide" id="chronicle-carousel">
            <div class="carousel-inner">

                <div class="carousel-item"
                        ng-repeat="history in $ctrl.chronicle"
                        ng-class="{active:$last}">
                    <div class="chronicle-circle">
                            {{history.name}} 기
                    </div>
                </div>

            </div>

        </div>


        <a class="next"
           href="#chronicle-carousel"
           role="button"
           data-slide="next"
           ng-click="$ctrl.next()">
				    <span aria-hidden="true"><i class="xi-angle-right-thin xi-4x"></i></span>
				    <span class="sr-only">Next</span>
        </a>

    </div>
</div>

