<div class="container">
    <h5 style="margin-bottom: 10px"><span style="color: #ff9f00">H</span>istory</h5>
    <h1>연혁</h1>

    <div class="chronicle-picker">

        <div id="chronicle-carousel" style="width: 100%">

                <div><img src="YAPPWebPage/public/img/chronicles/others.png" ></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/others.png" ></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/others.png" ></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/others.png"></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/others.png"></div>
                <!-- 5기 까지는 '준비중' -->
                <div ><img src="YAPPWebPage/public/img/chronicles/6.png"></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/7.png"></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/7.5.png"></div>
                <div ><img src="YAPPWebPage/public/img/chronicles/8.png"></div>
                <div><img src="YAPPWebPage/public/img/chronicles/8.5.png"></div>
                <div><img src="YAPPWebPage/public/img/chronicles/9.png"></div>
                <div><img src="YAPPWebPage/public/img/chronicles/10.png"></div>
                <div><img src="YAPPWebPage/public/img/chronicles/11.png"></div>
                <div><img src="YAPPWebPage/public/img/chronicles/12.png"></div>

        </div>

    </div>

</div>

