<div class="container">
		<h3 class="sect_title"><span>C</span>ONTACT</h3>
		<p class="sect_title_des">얍과 <span>함께</span> 하고 싶으신가요?</p>
		<p class="contact_txt">YAPP의 신규 리크루팅 기간은 매년 6~7월, 12~1월입니다.
			<br class="hidden-xs">열정과 잠재력이 넘치는 기획자, 디자이너, 개발자를 기다리고 있습니다 :)
		</p>
		<div class="row" style="margin-top: 100px">
			<div class="col">
				<a href="https://www.facebook.com/yapp.co.kr" target="_blank">
					<img class="contact-icon-img" src="./YAPPWebPage/public/img/main/facebook.png">
				</a>
				<div class="col_paragraph">
					<span class="contact_txt contact_txt_highlight">
					FACEBOOK
					</span>
					<span class="contact_txt">
						https://www.facebook.com/yapp.co.kr/
					</span>
				</div>
			</div>
			<div class="col">
				<a href="javascript:;">
					<img class="contact-icon-img" src="./YAPPWebPage/public/img/main/email.png">
				</a>
				<div class="col_paragraph">
					<span class="contact_txt contact_txt_highlight">
					E-MAIL
					</span>
					<br>
					<span class="contact_txt">
						support@yapp.co.kr
					</span>
				</div>
			</div>
			<div class="col">
				<a href="http://pf.kakao.com/_aGxofd" target="_blank">
					<img class="contact-icon-img"  src="./YAPPWebPage/public/img/main/kakao.png">
				</a>
				<div class="col_paragraph">
					<span class="contact_txt contact_txt_highlight">
					KAKAO TALK
					</span>
					<br>
					<span class="contact_txt">
						support@yapp.co.kr
					</span>
				</div>
			</div>
		</div>
</div>